name: Test

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  test:
    name: Run tests and upload coverage
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '^1.24'
          cache-dependency-path: |
            go.sum

      - name: Install dependencies
        run: go mod tidy

      - name: Build
        run: go build -v ./...

      - name: Run tests
        run: |
          go test -vet=off -v -race \
            -coverprofile=coverage.txt \
            -covermode=atomic ./...
